<div class="border border-primary p-4">

    <h3>CHILD</h3>
    <p>message: {{messageFromParent}}</p>

    <div class="d-flex justify-content-center">
        <button type="button" class="btn btn-primary m-1" (click)="receiveMessageFromService()">Use Service</button>
        <button type="button" class="btn btn-primary m-1" (click)="sendMessageByOutput()">Use Output Event</button>
        <button type="button" class="btn btn-primary m-1" (click)="receiveMessageFromObservable()">Use Observable</button>
    </div>
    
</div>